<div class="copyright bg-gray-800 flex w-full text-white bottom-0 flex-col justify-around items-center">
    <div class="flex flex-col justify-center items-center pt-6">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Flowbite Logo" />
        <a href="https://www.noon.com/uae-en/" class="text-2xl font-bold">E-ommerce</a>
    </div>
    <div class="pb-4">
        <p class="text-sm  font-medium">
            Copyright © 2023 All rights reserved. Powered By <span>E-commerce</span>
        </p>
    </div>
</div>