<div class="login-page w-screen h-screen">
    <div class="flex flex-col w-full pl-[5rem] max-w-lg h-fit">
      <p class="text-5xl font-bold h2 tracking-tighter mt-12">Hello People!</p>
      <div class="flex flex-col w-full gap-6">
        <form [formGroup]="login" class="flex flex-col w-full gap-6 mt-10">
          <div class="flex flex-col gap-1">
            <p class="font-semibold text-xl text-primary">Email</p>
            <input type="text" placeholder="Enter your email" formControlName="email"
              class="p-2 block text-sm py-3 mt-1 w-full border border-dark/30 rounded-md outline-none focus:border-dark/50 focus:outline-none invalid-input">
          </div>
          <div class="flex flex-col gap-1">
            <p class="font-semibold text-xl text-primary">Password</p>
            <input type="password" placeholder="Enter your password" formControlName="password"
              class="p-2 block text-sm py-3 mt-1 w-full border border-dark/30 rounded-md outline-none focus:border-dark/50 focus:outline-none invalid-input">
          </div>
          <div class="flex items-center gap-2 text-sm text-slate-400 font-semibold">
            <input type="checkbox"> Keep me signed in
          </div>
          <button type="button"
            class="self-start mt-3 font-semibold text-lg px-6 py-2 bg-yellow-500 text-dark rounded-md disabled:cursor-not-allowed"
            (click)="onLogin()">
            Sign In
          </button>
        </form>
      </div>
    </div>
</div>